:root {
  --primaryColor: #116E63;
  --secondaryColor: #F2A227;
  font-family: sans-serif;
}

body {
  background-color: #EAEBEF;
}

/*........................... navbar................  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .................logo part....................  */

.logo-part {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-part img {
  width: 30px;
  height: 30px;
}

.logo-part p {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: x-large;

}

/* .......................nav link part.......................  */
.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;

}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* sign in part  */
#auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

#signIn {
  color: white;
  background-color: var(--primaryColor);
  padding: 10px 30px;
  border-radius: 20px;
}

#search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #E4F0ED;
  color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* containers */
.main-container {
  min-height: 100%;
  max-width: 1320px;
  margin: 0px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #F1F0F5;
}

.second-container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.banner {
  max-width: 1180px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #F6F7FB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner-content {
  width: 50%;
}

#banner-content h1 {
  font-size: 4rem;
}

#banner-content h2 {
  font-size: 3rem;
  color: white;
  background-color: var(--secondaryColor);
  padding: 10px 30px;
  margin: 0px;
  border-radius: 40px;
  transform: rotate(-10deg);
  display: inline-block;

}

#button-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#startNowBtn {
  height: 100%;
  background-color: var(--primaryColor);
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
}

#play-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#video-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  color: var(--secondaryColor);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#insights {
  display: flex;
  gap: 20px;
}

#insights div h3{
  color: var(--primaryColor);
}
#insights div p{
  color: gray
}

#banner-img {
  width: 50%;
}

#banner-img img {
  width: 100%;
}